$include /etc/inputrc

# Display colored completions
# TODO: disabled for now because it creates  blinking text sometimes (e.g. pressing ssh <TAB>)
# set colored-stats on

# Ignore case for tab completion.
set completion-ignore-case on
